/* Paleta de colores 
  --white: #fff,
  --beige: #F9DCB5,
  --green: #53DB75,
  --brown: #DB973D,
  --purple: #7427DB,
  --purpleVariant: #4F218F
 */
html {
  box-sizing: border-box;
  font-size: 62.5%;
  padding: 0;
  margin: 0;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body{
  font-size: 16px;
  background-image: url(./img/thumb-1920-909641.png);
  background-size:  100vw 100vh;
  background-repeat: no-repeat;
}
p{
  color: #000;
  font-size: 2rem;
}

h1{
  text-align: center;
  font-size: 4.5rem;
  color: #53db75;
}

.location-info{
  display: flex;
  justify-content: space-between;
}

.card{
  height: 50rem;
  width: 50rem;
  background-color: #db973dc2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
}